header {
    text-align: center;
    background: #ccc;
    color: #fff;
}

.App .container {
    padding: 0 20px;
}

.todo-item {
    border-bottom: 1px #ccc solid;
    position: relative;
}

.todo-item input[type="checkbox"] {
    margin-right: 5px;
}

.todo-item button {
    position: absolute;
    right: 0;
}

.add-todo {
    display: flex;
}

.add-todo .field {
    flex-basis: 90%;
}
.add-todo .btn {
    flex-basis: 10%;
}